# Ignore .vs/ folder and its contents
.vs/

bin/
obj/
Properties/
/.vs/GroupCoursework/v17/.suo
/obj/Debug/net8.0/GroupCoursework.AssemblyInfoInputs.cache
/obj/Debug/net8.0/GroupCoursework.AssemblyInfo.cs
/.gitignore
/.gitignore
